body,html
{   
    background-color:#1F2937;
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li
{
    margin :5px;
    padding:5px;
}
