*
{
    box-sizing: border-box;
}

#calculator
{
    width:46%;
    height:81%;
    min-width: 507px;
    min-height: 402px;
    background-color: #949494;
    margin:auto;
    margin-top:85px;
    border:3px solid #e2e0e0;
    border-radius: 5px;
    padding: 11px;
}

#calculator h1
{
    background-color: #ccbaba;
    color:white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
}

#display-container
{
    font-size: 2.9rem;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    color:#7f6cfc;
    width: 101%;
    height: 21%;
    min-height: 100px;
    background-color: #e8e8e8;
    border-radius: 5px;
    margin-bottom: 11px;
}

#display-container p{
    font-size: 2.6rem;
    vertical-align: text-bottom;
}

#buttons-container
{
    width:100%;
    height: 80%;
    min-height: 301px;
    border: 1px solid #e2e0e0 ;
    border-radius: 5px;
    background-color: #e2e0e0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button
{
    width:25%;
    height: 15%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e0e0 ;
    background-color: white;
    font-size: 1.8rem;
    cursor:pointer;
    transition-duration: 3s;
}

.button:hover{
    background-color: #ffc877;
    cursor:pointer;
}

.red
{
    background-color: #c14444;
}

#button-zero
{
    width: 70%;
}
