.hero {
  display: flex;
  min-height: calc(100vh - 74px);
  overflow: hidden;
}

.hero__image {
  flex: 1;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 5
}

.hero__image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
}

.hero__image-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--color-lavender);
  z-index: -1;
}

.hero__image h2 {
  position: absolute;
  bottom: 0;
  padding: 20px;

  font-family: var(--plus-jakarta-sans);
  font-weight: 700;
  font-size: 120px;
  line-height: 138px;
  color: #fff;
}

.hero__content {
  flex: 1.22;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero__content-info {
  padding: 64px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__content-info h1 {
  font-size: 75px;
  font-weight: 600px;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-text);
}

.hero__content-info p {
  margin: 32px 0 0 32px;

  font-family: var(--plus-jakarta-sans);
  color: var(--color-text);
  font-size: 18px;
  font-weight: 400;
}

.hero__content-buttons {
  margin: 41px 0 0 41px;

  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.hero__content-order-button {
  padding: 20px;
  border-radius: 36px;
  min-width: 212px;
  outline: none;
  border: none;
  background: var(--color-text);

  cursor: pointer;

  color: var(--color-base);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.hero__content-play-button {
  border: none;
  outline: none;
  background: transparent;

  display: flex;
  align-items: center;
  
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text);
  font-family: var(--plus-jakarta-sans);

  cursor: pointer;
}

.hero__content-play-button img {
  margin-right: 12px;

  width: 46px;
  height: 46px;
  object-fit: contain;
}

.hero__content-testimonial {
  padding: 32px 64px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  background: var(--color-lavender)
}

.hero__content-customer {
  flex: 1;
  gap: 10px;
}

.hero__content-customer h4 {
  font-size: 62px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-white)
}

.hero__content-customer p {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-white);
}

.hero__content-review {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;

  padding-left: 20px;
  border-left: 1.5px solid var(--color-base);
  min-width: 200px;
}

.hero__content-review img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.hero__content-review p {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-white);
}